.img-container
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
    border-radius: 4px

.movie-main-title
    font-size: 60px
    line-height: 1.2

.button-genre
    cursor: pointer

.movie-overview
    line-height: 1.2
    
.banner
    background-position: top center
    background-size: cover
    

.mi-star // icon of the star
    font-size: 14px

.infoMain
    background-color: rgba(0, 0, 0, 0.2)

.infoElement
    font-size: 15px
    border: 2px solid
    border-color: #bf40bf  
    border-radius: 30px

.movie-overview-HC
    color: yellow    
