<div class="flex-wrap"
  [style.background-image]="('linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,1.0)), url('+'https://image.tmdb.org/t/p/w1280'+movie?.backdrop_path+')')">
  <div>
    <div class="d-flex">
      <div>
        <img src="https://image.tmdb.org/t/p/w500/{{ movie?.poster_path }}" alt="{{ movie?.title }}" tabindex="0"
          class="img-container" />
      </div>

      <div class="pl-2">
        <h2 class="movie-main-title mt-5" tabindex="0">{{ movie?.title }}</h2>
        <div>
          <label tabindex="0" class="movie-overview mt-5 ml-2" style="font-size: 23px;">{{ movie?.overview }}</label>
          <div class="info row mt-2 ml-3 mb-3">
            <p class="infoElement p-2 m-2" tabindex="0"> {{movie?.release_date}}</p>
            <p class="infoElement p-2 m-2" tabindex="0"> {{movie?.runtime}}min</p>
            <p class="infoElement p-2 m-2" tabindex="0">{{movie?.vote_average}}<mat-icon class="mi-star ml-2">grade
              </mat-icon>
            </p>
          </div>
          
        <!--  genre -->
          <div class="mt-5 ml-4">
            <button *ngFor="let genre of movie?.genres" mat-raised-button color="primary" aria-label="genres"
              class="button-genre mr-2">{{genre.name}}</button>
          </div>
      <!--   end of genre -->

      <!-- watch trailer Button -->
      <div class="mt-5">
        <button class="button-trailer" aria-label="Trailer" (click)="openDialog()" >
          <mat-icon class="icon-colored" style="background: rgb(188, 140, 197); border-radius: 50%">play_arrow
          </mat-icon>
          Watch Trailer
        </button>
      </div>
      <!-- end of watch trailer Button -->
        </div>
      </div>
    </div>

<!--   Similar movies   --> 
    <div class="Similar-movies mt-5">
        <h1 tabindex="0" class="ml-5" style="font-size: 50px;font-weight: 600; text-align: center;">Similar Movies</h1>
        <app-card-all-together [movies]="SimilarMovies"></app-card-all-together>
      </div>      
  <!--End Similar Movies-->
  </div>
</div>    