<div class="mt-5 mr-2">
    <div>
      <div class="tvshow">
        <div class="tvshow__images ">
          <div class="thumbnails d-flex flex-wrap justify-content-center" >
            <div class=" m-2 tvshows_item" tabindex="0" *ngFor="let t of tvshows?.results">
              <a [routerLink]="'/tvshow/detail/' + t?.id">
              <img
                src="https://image.tmdb.org/t/p/w300{{ t?.poster_path }}"
                alt="{{t.name}}"
              />
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>