<div class="header d-flex justify-content-between">
    <div class="title mt-5 ml-2 mr-4" aria-labelledby="Tv Shows section" tabindex="0" style="font-size: 70px;">
        Tv Shows
    </div>
</div>
<div>
    <app-all-tv-shows [tvshows]="allTvShows" ></app-all-tv-shows>
    <div class=" d-flex justify-content-center mt-5"> 
        <mat-paginator [length]="total_items" [pageSize]="20" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>
<ngx-spinner
bdColor="#000"
size="medium"
color="#fff"
type="ball-spin-clockwise"
></ngx-spinner>