
<div class="mt-5 mr-2"> 
  <div>
    <div class="movie">
      <div class="movie__images ">
        <div class="thumbnails d-flex flex-wrap justify-content-center" >
          <div class="m-2 movies_item" tabindex="0" *ngFor="let m of movies?.results">
            <a [routerLink]="'/movies/detail/' + m?.id">
            <img
              src="https://image.tmdb.org/t/p/w300{{ m?.poster_path }}" 
              alt="{{ m.title}}"
              *ngIf="m?.poster_path"
            />
            <img class="no-poster"src="https://www.prokerala.com/movies/assets/img/no-poster-available.jpg" *ngIf="!m?.poster_path">
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  