<div class="__home-main-content">
ShowTime
</div>

<!-- Movie Section  -->
<div class ="d-flex m-4 mt-5 flex-wrap">
    <app-folder-template title="Popular Movies " [movies]="popular" class="mt-4"></app-folder-template>
    <app-folder-template title="Top Rated Movies" [movies]="topRated" class="mt-4" ></app-folder-template>  
    <app-folder-template title="Now Playing Movies" [movies]="nowPlaying" class="mt-4" ></app-folder-template>  
</div>
<!-- Tv show Section  -->
<div class ="d-flex m-5 mt-5 flex-wrap">
    <app-folder-template-tv title="Popular Tv Shows" [TvShow]="popularTvShows" class="mt-4" ></app-folder-template-tv> 
    <app-folder-template-tv title="On The Air Tv Shows" [TvShow]="OnTheAirTvShows" class="mt-4" ></app-folder-template-tv> 
    <app-folder-template-tv title="Top Rated Tv Shows" [TvShow]="TopRatedTvShows" class="mt-4" ></app-folder-template-tv> 
</div>
