<div class="__home-main-content" tabindex="0">
ShowTime
</div>

<div class="m-2 p-4">
        <app-folder-template title="Top Rated Movies" [movies]="topRated" [sliderConfig]="sliderConfig"></app-folder-template>
        <app-folder-template title="Now playing Movies in Theaters" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-folder-template>
        <app-folder-template title="Popular Movies" [movies]="popular" [sliderConfig]="sliderConfig"></app-folder-template>   
        <app-folder-template-tv title="Popular Tv Shows" [TvShow]="popularTvShows"[sliderConfig]="sliderConfig"></app-folder-template-tv> 
        <app-folder-template-tv title="On The Air Tv Shows" [TvShow]="OnTheAirTvShows" [sliderConfig]="sliderConfig" ></app-folder-template-tv> 
        <app-folder-template-tv title="Top Rated Tv Shows" [TvShow]="TopRatedTvShows"[sliderConfig]="sliderConfig" ></app-folder-template-tv> 
</div>


<ngx-spinner
bdColor="#000"
size="medium"
color="#fff"
type="ball-spin-clockwise"
></ngx-spinner>