.navbar
    background: linear-gradient(rgba(250, 250, 250, 0.041),#000000)
.navbar-brand
    color: #fff
    &:hover
        color: #bf40bf
    &:focus
        color: #bf40bf 
        font-size: 30px 
    &:active
        color: #bf40bf 
        font-size: 30px
    &:enabled
        color: #bf40bf 
        font-size: 30px    
