
  <nav class="navbar navbar-light" style = "background-color: #000">
    <div id ="elementsNavBar" class="d-flex nav justify-content-between justify-content-start m-2">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/ST logo.png" width="40" height="40" alt="ShowTime Logo">
      </a>
      <a class="navbar-brand" routerLink="/home" >Home</a>
      <a class="navbar-brand" routerLink="/movies"> Movies </a>
      <a class="navbar-brand" routerLink="/tvshows"> TV Shows </a>
      <a class="navbar-brand" routerLink="/genres"> Genres </a>
     </div>
  </nav>


<router-outlet></router-outlet>