<nav class="navbar-light navbar-expand-lg navbar sticky-top" (scroll)="onWindowScroll()">
  <div id="elementsNavBar">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/ST logo.png" width="30" height="30" alt="ShowTime Logo" />
    </a>
    <a class="navbar-brand" routerLink="/home">Home</a>
    <a class="navbar-brand" routerLink="/movies"> Movies </a>
    <a class="navbar-brand" routerLink="/tvshow"> TV Shows </a>
    <a class="navbar-brand" routerLink="/genres"> Genres </a>
    <a class="navbar-brand" routerLink="/search"> Search </a>
  </div>
</nav>

<router-outlet></router-outlet>
