.navbar
    background: linear-gradient(rgba(250, 250, 250, 0.1),#31037acc )
.navbar-brand
    color: #fff
    &:hover
        color: #bf40bf
    &:focus
        color: #bf40bf 
        font-size: 30px 