.navbar
    background: linear-gradient(rgba(250, 250, 250, 0.041),#000000)


.high-contrast-img
    border: 1px solid black
    border-radius: 120px
    justify-content: flex-end
    &:hover
        cursor: pointer
   
             
.navbar-brand
    color: #fff
    &:hover
        color: #bf40bf
        text-decoration: underline
        transition: 0.9s
    &:focus 
        color: #bf40bf

.navbar-brand-HC 
    color: #FFFF00
    &:hover
        padding: 2px
        color: #000
        background-color: #FFFF00
        text-decoration: underline
        transition: 0.9s
