<h2 class="mb-4" tabindex="0" style="font-size: 40px;" tabindex="0">{{title }}</h2>

  <div class="row mt-4">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="TvShow flex-wrap">
        <div class="TvShow__images">
          <div class="thumbnails d-flex" >
            <div class="mr-2 TvShows_item" tabindex="0" *ngFor="let t of TvShow?.results">
              <a [routerLink]="'/tvshow/detail/' + t?.id">
              <img
                src="https://image.tmdb.org/t/p/w200{{ t?.poster_path }}"
                alt="{{ t.name}}"
              />
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
