<h2 class="mt-5 mb-5" style="font-size: 50px; font-weight: 800;" tabindex="0" >{{title}}</h2>

<div class="tvShow">
      <ngx-slick-carousel [config]="sliderConfig" class="carousel">
        <div class="slick-item" tabindex="0" *ngFor="let t of TvShow?.results" ngxSlickItem>
          <a [routerLink]="'/tvshow/detail/' + t?.id">
            <img
              src="https://image.tmdb.org/t/p/w200{{ t?.poster_path }}"
              alt="{{t.name}}"
              *ngIf="t?.poster_path"
            />
            <img class="no-poster" src="https://www.prokerala.com/movies/assets/img/no-poster-available.jpg" *ngIf="!t?.poster_path">
            </a>
        </div>
      </ngx-slick-carousel>
</div>