.img-container
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    position: relative


.tvshow-main-title
    font-size: 80px
    line-height: 1.2

.button-genre
    &:hover
        cursor: default
.button-trailer
    border-radius: 30px
    &:hover
        cursor: pointer

.tvshow-overview
    line-height: 1.2

.mi-star // icon of the star
    font-size: 14px

.infoElement
    font-size: 15px
    border: 2px solid
    border-radius: 30px
