<div class="flex-wrap"
  [style.background-image]="('linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,1.0)), url('+'https://image.tmdb.org/t/p/w1280'+tvshow?.backdrop_path+')')">
  <div>
    <div class="d-flex">
      <div>
        <img src="https://image.tmdb.org/t/p/w500/{{ tvshow?.poster_path }}" alt="{{ tvshow?.title }}" tabindex="0"
          class="img-container" />
      </div>

      <div class="pl-2">
        <h2 class="tvshow-main-title mt-5" tabindex="0">{{ tvshow?.name }}</h2>
        <p class="tagline p-2 m-2" tabindex="0" style="font-size: 20px;"> {{tvshow?.tagline}} </p>
        <div class="m-5">
          <label tabindex="0" class="tvshow-overview mb-5" style="font-size: 23px;">{{ tvshow?.overview }}</label>
          <div class="info row mt-2 ml-3 mb-3">
            <p class="infoElement p-2 m-2" tabindex="0"> {{tvshow?.first_air_date | date:'longDate'}}</p>
            <p class="infoElement p-2 m-2" tabindex="0">{{tvshow?.vote_average}}<mat-icon class="mi-star ml-2">grade
              </mat-icon>
            </p>
            <p class="infoElement p-2 m-2" tabindex="0"> {{tvshow?.number_of_seasons}} Seasons </p>

          </div>
          
        <!--  genre -->
          <div class="mt-5 ml-4">
            <button *ngFor="let genre of tvshow?.genres" mat-raised-button color="primary" aria-label="genres"
              class="button-genre mr-2">{{genre.name}}</button>
          </div>
      <!--   end of genre -->
        </div>
      </div>
    </div>

<!--   Similar tvShows   --> 
    <div class="Similar-tvShows mt-5">
        <h1 tabindex="0" class="ml-5" style="font-size: 50px;font-weight: 600; text-align: center;">SIMILAR TV SHOWS</h1>
        <app-all-tv-shows [tvshows]="SimilarTvShows"></app-all-tv-shows>    
      </div>      
  <!--End Similar tv Shows-->
  </div>
</div>    