.title
    font-size: 38px
    line-height: 38px
    font-weight: 700
    margin-right: 15px
.btn 
    margin-left: 80px

input
    height: 40px
    width: 300px
    border: 1px solid black
    border-radius: 30px

.mat-paginator
    width: 800px
    background-color: #31037acc
    color:#fff
    font-size: 23px


        